{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="container mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-8">
        <h1 class="text-3xl font-extrabold text-gray-900 mb-6">
            Latest Posts
        </h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for post in posts %}
                <div class="bg-white p-6 rounded-lg shadow-md">
                    {% if post.image %}
                        <img src="{{ asset(image_dir ~ post.image ) }}" alt="{{ post.title }}" class="w-full h-48 object-cover mb-4 rounded-t-lg">
                    {% endif %}
                    <h2 class="text-2xl font-semibold mb-1">
                        {% if post.title|length > 70 %}
                            {{ post.title|slice(0, 70) ~ '...' }}
                        {% else %}
                            {{ post.title }}
                        {% endif %}
                    </h2>
                    <p class="text-sm text-gray-500 mb-3">Published on {{ post.createdAt|date('F j, Y') }} by {{ post.author }}</p>
                    <p class="text-gray-600 mb-4">{{ post.shortDescription }}</p>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}" class="text-indigo-600 hover:text-indigo-800">Read more &rarr;</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
