{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="container mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-8">
        <h1 class="text-3xl font-extrabold text-gray-900 mb-6">
            Latest Posts
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for post in posts %}
                <div class="bg-white pb-6 rounded-lg shadow-md">
                    {% if post.image %}
                        <a href="{{ path('app_post_show', {'id': post.id}) }}">
                            <div class="h-48 relative rounded-t-lg overflow-hidden">
                                <img class="rounded-t-lg w-full h-full object-cover" src="{{ asset(image_dir ~ post.image ) }}" alt="{{ post.title }}" />
                            </div>
                        </a>
                    {% endif %}
                    <div class="p-6">
                        <a href="{{ path('app_post_show', {'id': post.id}) }}">
                            <h2 class="text-2xl font-semibold mb-1">
                                {% if post.title|length > 70 %}
                                    {{ post.title|slice(0, 70) ~ '...' }}
                                {% else %}
                                    {{ post.title }}
                                {% endif %}
                            </h2>
                        </a>
                        <p class="text-sm text-gray-500 mb-3">Published on {{ post.createdAt|date('F j, Y') }}
                            by {{ post.author }}</p>
                        <p class="text-gray-600 mb-4">{{ post.shortDescription }}</p>
                        <div class="mt-2 mb-4">
                            {% for taxonomy in post.taxonomy %}
                                <span class="inline-block bg-indigo-200 text-indigo-800 text-xs px-2 rounded-full uppercase font-semibold tracking-wide mr-2 mb-2">
                                {{ taxonomy.name }}
                            </span>
                            {% endfor %}
                        </div>
                        <a href="{{ path('app_post_show', {'id': post.id}) }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
