{# templates/posts/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <main class="container mx-auto max-w-5xl px-2 sm:px-6 lg:px-8 py-8">
        <div class="mb-6">
            <a href="{{ app.request.headers.get('referer') ?? path('app_posts') }}"
               class="text-blue-500 hover:underline text-lg">← Back to Posts</a>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <!-- Main Content -->
            <div class="col-span-2 lg:col-span-2">
                <h1 class="text-4xl font-extrabold text-gray-900 mb-4">
                    {{ post.title }}
                </h1>

                <p class="text-gray-600 mb-4">
                    Published on {{ post.createdAt|date('F j, Y') }} by {{ post.author }}
                </p>

                {% if post.image %}
                    <div class="mb-6">
                        <img src="{{ asset(image_dir ~ post.image ) }}" alt="{{ post.title }}"
                             class="w-full h-48 object-cover mb-4 rounded-t-lg">
                    </div>
                {% endif %}

                <div class="prose lg:prose-xl mt-4">
                    {{ post.content|raw }}
                </div>
            </div>

            <!-- Sidebar for Additional Information -->
            <div class="col-span-1 lg:col-span-1">
                <div class="bg-white p-6 rounded-lg shadow-md mt-6">
                    <h2 class="text-2xl font-semibold mb-4">About the Author</h2>

                    <div class="flex items-start">
                        {% if post.author.profileImg %}
                            <img src="{{ asset(asset(image_dir ~ post.author.profileImg)) }}"
                                 alt="{{ post.author.firstName }} {{ post.author.lastName }}"
                                 class="w-24 h-24 rounded-full border-2 border-gray-300 mr-4">
                        {% else %}
                            <div class="w-24 h-24 bg-gray-200 rounded-full mr-4"></div>
                        {% endif %}

                        <div>
                            <h3 class="text-xl font-semibold mb-2">{{ post.author.firstName }} {{ post.author.lastName }}</h3>
                            <p class="text-sm text-gray-500 mb-4">{{ post.author.bio|raw }}</p>

                            {% if post.author.linkedIn or post.author.github or post.author.instagram or post.author.xing %}
                                <p class="text-md font-medium mb-2 mt-4">Follow me:</p>
                                <div class="flex space-x-4">
                                    {% if post.author.linkedIn %}
                                        <a href="{{ post.author.linkedIn }}" target="_blank"
                                           class="text-blue-600 hover:text-blue-700">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    {% endif %}
                                    {% if post.author.github %}
                                        <a href="{{ post.author.github }}" target="_blank"
                                           class="text-gray-600 hover:text-gray-700">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    {% endif %}
                                    {% if post.author.instagram %}
                                        <a href="{{ post.author.instagram }}" target="_blank"
                                           class="text-pink-600 hover:text-pink-700">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    {% endif %}
                                    {% if post.author.xing %}
                                        <a href="{{ post.author.xing }}" target="_blank"
                                           class="text-green-600 hover:text-green-700">
                                            <i class="fab fa-xing"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% set colors = ['red', 'yellow', 'green', 'blue', 'indigo', 'purple', 'pink'] %}

                <div class="bg-white p-6 rounded-lg shadow-md mt-6">
                    <h2 class="text-2xl font-semibold mb-4">Tags</h2>
                    <div class="mb-4">
                        {% for taxonomy in post.taxonomy %}
                            {% set color = colors[loop.index0 % colors|length] %}
                            <span class="inline-block bg-{{ color }}-200 text-{{ color }}-800 text-xs px-2 py-1 rounded-full uppercase font-semibold tracking-wide mr-2 mb-2">
                                {{ taxonomy.name }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
