{# templates/posts/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <main class="container mx-auto max-w-5xl px-2 sm:px-6 lg:px-8 py-8">
        <div class="mb-6">
            <a href="{{ app.request.headers.get('referer') ?? path('app_posts') }}" class="text-blue-500 hover:underline text-lg">← Back to Posts</a>
        </div>

        <div class="grid grid-cols-3 gap-8">
            <!-- Main Content -->
            <div class="col-span-2">
                <h1 class="text-4xl font-extrabold text-gray-900 mb-4">
                    {{ post.title }}
                </h1>

                <p class="text-gray-600 mb-4">
                    Published on {{ post.createdAt|date('F j, Y') }} by {{ post.author }}
                </p>

                {% if post.image %}
                    <div class="mb-6">
                        <img src="{{ asset(image_dir ~ post.image ) }}" alt="{{ post.title }}" class="w-full h-48 object-cover mb-4 rounded-t-lg">
                    </div>
                {% endif %}

                <div class="prose lg:prose-xl mt-4">
                    {{ post.content|raw }}
                </div>
            </div>

            <!-- Sidebar for Additional Information -->
            <div class="col-span-1">
                <h2 class="text-xl font-semibold text-gray-900 mb-4">Tags</h2>
                <div class="mb-4">
                    {% for taxonomy in post.taxonomy %}
                        <span class="inline-block bg-indigo-200 text-indigo-800 text-xs px-2 rounded-full uppercase font-semibold tracking-wide mr-2 mb-2">
                            {{ taxonomy.name }}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
